table {
  width: 90%;
}
th {
  text-align: left;
  padding: 10px;
  background-color: #126ec0;
  color: #fff;
}
td {
  padding: 10px;
  font-size: 14px;
}
tr:nth-child(even) {
  background-color: #e6eff3;
}
